body {
    background-color: black;
}

/* list of tick tack toe styles to create borders */
.zero {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}

.one {
    border-top-style: none !important;
    border-right-style: none !important;
}

.two {
    border-right-style: none !important;
    border-top-style: none !important;
}

.three {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}

.four {
    border-top-style: none !important;
    border-right-style: none !important;
}

.five {
    border-top-style: none !important;
    border-right-style: none !important;
}

.six {
    border-style: none !important;
}

.seven {
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-right-style: none !important;
}

.eight {
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-right-style: none !important;
}

/* grid and other styles */

#grid {
    display: grid;
    grid-template-rows: repeat( 3, auto );
    grid-template-columns: repeat( 3, auto );
    gap: 0px;
    width: fit-content;
    margin: 100px auto;
    position: relative;
}

.grid-item {
    height: 150px;
    width: 150px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    /* font-style: italic; */
    font-family: "Delius";
}

.header {
    color: white;
    font-size: 94px;
    width: fit-content;
    height: 100px;
    margin: 60px auto;
}

.data-prompt-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

#data-prompt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#one-player {
    width: 270px;
    height: 200px;
    background-color: #8c6506;
    box-shadow: 0px 0px 7px 4px;
    border-radius: 9px;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
}

#one-player:hover {
    background-color: #986d06;
}

#two-player {
    margin-left: 30px;
    width: 270px;
    height: 200px;
    background-color: #512cff;
    box-shadow: 0px 0px 7px 4px;
    border-radius: 9px;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
}

#two-player:hover {
    background-color: #5733ff;
}

@keyframes draw-vertical-line {
    0% {
        height: 0px;
    }
    100% {
        height: 432px;
    }
}

#draw-line-0 {
    animation-name: draw-vertical-line;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    width: 4px !important;
    position: absolute !important;
    top: 8px !important;
    left: 72px !important;
    display: block !important;
    border-style: none !important;

}

#draw-line-1 {
    animation-name: draw-vertical-line;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    width: 4px !important;
    position: absolute !important;
    top: 8px !important;
    left: 223px !important;
    display: block !important;
    border-style: none !important;
}

#draw-line-2 {
    animation-name: draw-vertical-line;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    width: 4px !important;
    position: absolute !important;
    top: 8px !important;
    left: 375px !important;
    display: block !important;
    border-style: none !important;

}

@keyframes draw-horizontal-line {
    0% {
        width: 0px;
    }
    100% {
        width: 432px;
    }
}

#draw-line-3 {
    animation-name: draw-horizontal-line;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    height: 4px !important;
    position: absolute !important;
    top: 72px !important;
    left: 7px !important;
    display: block !important;
    border-style: none !important;

}

#draw-line-4 {
    animation-name: draw-horizontal-line;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    height: 4px !important;
    position: absolute !important;
    top: 223px !important;
    left: 7px !important;
    display: block !important;
    border-style: none !important;

}

#draw-line-5 {
    animation-name: draw-horizontal-line;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    height: 4px !important;
    position: absolute !important;
    top: 376px !important;
    left: 7px !important;
    display: block !important;
    border-style: none !important;

}

@keyframes draw-diagonal-line {
    0% {
        height: 0px;
    }

    100% {
        height: 562px;
    }
}

#draw-line-6 {
    animation-name: draw-diagonal-line;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    width: 5px !important;
    transform: rotate(-45deg);
    position: absolute !important;
    top: 24px !important;
    left: 19px !important;
    display: block !important;
    border-top-style: none !important;
    transform-origin: 0% 0%;

}

#draw-line-7 {
    animation-name: draw-diagonal-line;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    width: 5px !important;
    transform: rotate(45deg);
    position: absolute !important;
    top: 27px !important;
    left: 417px !important;
    display: block !important;
    border-top-style: none !important;
    transform-origin: 0% 0%;

}

.draw-red {
    background-color: red;
}
.draw-blue {
    background-color: blue;
}

.enter-data {
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    color: #4321e2;
    font-size: 28px;
}

.playerLabel {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.playerLabel::placeholder {
    color: white;
}

.playerInput {
    margin-left: 11px;
    width: 157px;
    height: 27px;
    padding-left: 3px;
    color: white;
    border-radius: 6px;
    border-style: none;
    background-color: black;
    font-size: 14px;
}

.playerInput:focus {
    border: 1.5px solid white;
}

.goButton {
    width: 700px;
    height: 20px;
    background-color: #1d0f41;
    color: white;
    border-style: none;
    border-radius: 17px;
    margin-top: 3px;
    text-align: center;
    outline: none;
    margin: 6px auto;
}

.goButton:focus {
    outline: none;
}

.players {
    height: 700px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: transparent;
    font-family: "Delius";
}

.player1 {
    padding-right: 100px;
    color: red;
}

.player2 {
    padding-left: 100px;
    color: blue;
}

.content-wrapper {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid-wrapper {
    height: 459px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.refreshButton {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 13px;
    height: 13px;
    background-color: #131313;
    z-index:10;
}

.refreshButton img {
    width: 13px;
    height: 11px;
}